<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <% include head %>
        <style type='text/css'>
            body {
                background-image: url("1.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;

            }
            </style>
    </head>
    <body>

      <div class='top-content'>
          <div class='inner-bg'>
            <div class='jumbotron' style='background-color:gray'>
              <h1>你想去的地方似乎还在建设中。。。</h1>
            </div>
          </div>
      </div>
        <%include footer.html %>
    </body>
    <%include foot.html %>
</html>
