<!DOCTYPE html>
<html lang='zh-CN'>
    <head>

        <link href='css/contact.css' rel='stylesheet'>
        <% include head %>

    </head>
    <body>
        <%include naviguide %>
        <div class='container'>
            <div class='row'>

                <div class='col-md-2 col-sm-6'>
                  <div  data-spy="affix">
                    <div class='panel panel-primary' style="width:100%;boader-color:gray" id="panel-left">
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-home"></span>
                            &nbsp;菜单1</a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-edit"></span>
                            &nbsp;菜单2</a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-list"></span>
                            &nbsp;菜单3</a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;菜单4</a>
                    </div>
                </div>
              </div>
                <div class='col-md-10 col-sm-6'>
                            <div class='panel panel-primary' style='background-color:#f3f3f3' overflow='scroll' height='100px'>
                            <ul class="content-reply-box mg10" style='height:450px' id='content' overflow='scroll'>

                            </ul>
                            <ul class="panel panel-footer">
                              <div class='row'><div class='col-md-10 col-sm-10'><input type='text' class='form-control' id='input_message'/></div>
                              <div class='col-md-2 col-sm-2'><button onclick="sendmessage()" class='btn btn-primary btn-block'>发送</button></div></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%include footer.html %>
    </body>
    <script src='/socket.io/socket.io.js'></script>
    <script src='js/contactor_client.js'></script>
    <script type='text/javascript'>
    window.onload = function() {
        Zhepin.init();

    };
    function sendmessage(){
      console.log('sendmessage');
    }
    </script>
    <%include foot.html %>
</html>
