<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <% include head %>
    </head>
    <body>
      <%include naviguide %>
      加入成功！

        <%include footer.html %>
    </body>
    <%include foot.html %>
</html>
