<!DOCTYPE html>
<html lang='zh-CN'>
    <head>

        <!--link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"-->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>Zhe拼</title>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel='stylesheet' href='css/messenger.css'>
        <link rel='stylesheet' href='css/messenger-theme-future.css'>
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        <style type='text/css'>
            body {
                background-image: url("1.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;

            }

        </style>
    </head>
    <body>

        <div class='top-content'>
            <div class='inner-bg'>
              <div id='message'><%-content%></div>
                <div class='container'>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class='panel panel-primary' style='color:gray;background-color:rgba(255,255,255,0.9)'>
                                <div class="tabbable" id="tabs-565144">
                                    <ul class="nav nav-tabs text-center">
                                        <li class="active">
                                            <a href="#panel-271211" data-toggle="tab">登录</a>
                                        </li>
                                        <li>
                                            <a href="#panel-760325" data-toggle="tab">注册</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="panel-271211">
                                            <p>
                                                <form method='post' action="./login">
                                                    <div class="form-group">
                                                        <label class="control-label" for="inputEmail">用户名</label>
                                                        <div class="controls">
                                                            <input id="inputEmail" type="text" name='userid'/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="inputPassword">密码</label>
                                                        <div class="controls">
                                                            <input id="inputPassword" type="password" name='password'/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label class="checkbox"><input type="checkbox"/>
                                                                Remember me</label>
                                                            <button type="submit" class="btn btn-default">登陆</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </p>
                                        </div>
                                        <div class="tab-pane" id="panel-760325">
                                            <p>
                                                <form method='post' action='./registe'>
                                                    <div class="form-group">
                                                        <label class="control-label" for="inputEmail">用户名</label>
                                                        <div class="controls">
                                                            <input id="userid" type="text" name='userid'/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="inputPassword" name='password'>密码</label>
                                                        <div class="controls">
                                                            <input id="inputPassword1" type="password" name='password'/>
                                                        </div>
                                                        <label class="control-label" for="inputPassword">确认密码</label>
                                                        <div class="controls">
                                                            <input id="inputPassword2" type="password"/>
                                                        </div>
                                                        <label class='help-label' id='help-label'></label>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label class='form'>性别</label>
                                                        <div class="radio">
                                                            <input type="radio" name="gender" id="optionsRadios1" value="male" checked>
                                                            男
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" name="gender" id="optionsRadios2" value="female">
                                                            女
                                                        </div>
                                                    </div>
                                                    <div class='form-group'>
                                                        <label for="name">详细信息</label>
                                                        <textarea class="form-control" rows="3" name='detail'></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <button type="submit" class="btn btn-default">注册</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%include footer.html %>
    </body>
    <style type='text/css'>
      .blur{border:4px solid red;}
    </style>
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src='js/messenger.min.js'></script>
    <script src='js/messenger-theme-future.js'></script>
    <script>
      $('#inputPassword2').keyup(function(){
        if ($('#inputPassword2').val()!=$('#inputPassword1').val()){
          $('#help-label').text('前后密码不一致，请确认')
        }else {
          $('#help-label').text('可以注册')
        }
      })
    </script>
    <%include foot.html %>


        <script type='text/javascript'>
        $(document).ready(function(){
            <%if (typeof feedback!='undefined'){%>
              Messenger.options = {
                  extraClasses: 'messenger-fixed messenger-on-top messenger-on-right',
                  theme: 'future'}
              Messenger().post(<%- '"'+feedback+'"'%>);
                <%}%>
            $(":input").blur(function(){
              $(this).each(function(){
                console.log($(this).val());
                if (''==$(this).val()){
                  $(this).addClass('blur')
                }else {
                  $(this).removeClass('blur')
                }
              })
            })
        })

        </script>

</html>
